body{
    background:navy;
    font-family: "Stack Sans Text", sans-serif;
}
.navbar{
    background:orange;
}
.band-1{
    background-color:#f1f1f1;
}
.hero-section{
    background-image: url("img/Chicago_Bears_vs_Green_Bay_Packers_4.jpg");
}
div{
    color: white;
}
h5{
    text-decoration: underline;
}
h1{
    text-align: center;
    color:white;
    text-decoration: underline;    
}
h6{
    color:white;
    text-align: center;
}
.picture{
    text-align: center;
    background-color: bisque;
    margin-bottom: 100px;
}
.other{
    color: navy;
}